<%= form_for @group do |f| %>
	<%= f.text_field :name, placeholder: 'Name', label: 'Group Name' %>
	<%= f.label 'Trip Description' %>
	<%= f.text_area :description, {size: '30x7'} %>
	<%= f.label 'Trip Type' %>
	<%= collection_select :group, :theme, Theme.all, :id, :name %>
	<%= f.file_field :avatar %>
	<br>
	<p>Users:<p>
		<%= collection_check_boxes :group, :user_ids, User.all, :id, :name %>
	<br>
	<p>Features:</p>
	<br>
	<%= f.submit 'Submit' %>
<% end %>