<h1><%= @group.name %></h1>

<% if @group.avatar_file_name %>
	<%= image_tag @group.avatar.url %>
<% end %>

<p><%= @group.description %></p>

<%= link_to "Update this Group", edit_group_path(@group) %>

<% unless @group.direction %>
	<%= link_to "New Directions", new_group_direction_path(@group) %>
<% else %>
	<%= link_to "Directions", group_direction_path(@group, @direction) %>
<% end %>

<%= link_to "Chat", group_chat_path(@group, @chat) %>