<div class="container-fluid group_show_container row">
	
	<div id="group_home_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Home", group_path(@group) %>
	</div>
	<div id="group_show_feature" class="col-md-1 col-md-6 feature_container">
		<h1><%= @group.name %></h1>
		<% if @group.avatar_file_name %>
				<%= image_tag @group.avatar.url %>
		<% end %>
		<%= @group.description %>
		<p>Group Members</p>
		<ul>
			<% @group.users.each do |user| %>
			<li><%= user.name %></li>
			<% end %>
		</ul>
	</div>
	<div id="group_instagram_feature" class="col-md-1 col-md-6 feature_container">
		<% unless @group.tag != nil %>
			<%= link_to "Instagram", new_group_tag_path(@group) %>
		<% else %>
			<%= link_to "Instagram", group_tag_path(@group, @tag) %>
		<% end %>
	</div>
	<div id="group_description_feature" class="col-md-1 col-md-6 feature_container">
		<%unless @group.direction %>
			<%= link_to "Directions", new_group_direction_path(@group) %>
		<% else %>
			<%= link_to "Directions", group_direction_path(@group, @direction) %>
		<% end %>
	</div>
	<div id="group_chat_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Chat", group_chat_path(@group, @chat) %>
	</div>
	<div id="group_link_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Polls", group_polls_path(@group) %>
	</div>
	<div id="group_packing_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Packing List", group_packing_items_path(@group, @packing_list) %>
	</div>
	<div id="group_itinerary_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Itinerary", group_schedules_path(@group, @schedule) %>
	</div>
	<div id="group_ideas_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Ideas", group_links_path(@group, @links) %>
	</div>
	<div id="group_edit_feature" class="col-md-1 col-md-6 feature_container">
		<%= link_to "Edit Group", edit_group_path(@group) %>
	</div>	
</div>