<div class="group_show_container">
	

	
	<div class="group_show_info">
		<div class="group_name">
			<h1><%= @group.name %></h1>
		</div>
		<div class="group_image">
			<% if @group.avatar_file_name %>
				<%= image_tag @group.avatar.url %>
			<% end %>
		</div>
		<div class="group_description">
			   <%= @group.description %>
		</div>
		<div class="group_members">
			<p>Group Members:</p>
			<ul>
				<% @group.users.each do |user| %>
				<li><%= user.name %></li>
				<% end %>
			</ul>
		</div>
		
		<div class="group_nav">
			<div class="view_directions">
			<% unless @group.direction %>
				<%= link_to "New Directions", new_group_direction_path(@group) %>
			<% else %>
				<%= link_to "Directions", group_direction_path(@group, @direction) %>
			<% end %>
			</div>
			<div class="view_chat">
				<%= link_to "Chat", group_chat_path(@group, @chat) %>
			</div>
			<div class="view_polls">
				<%= link_to "Polls", group_polls_path(@group) %>
			</div>
			<div class="new_poll">
				<%= link_to "New Poll", new_group_poll_path(@group) %>
			</div>
			<div class="edit_group_link">
				<%= link_to "Edit your group", edit_group_path(@group) %>
			</div>
		</div>
	</div>
</div>
