<div class="schedule_index_container">
	<div class="schedule_index_header">
		<h1>Itinerary</h1>
	</div>
	<% @group.schedules.each do |schedule| %>
		<h3>
			<%= schedule.date.strftime("%A") %>
		</h3>
		<div class="itinerary_table_container">
			<table class = "itinerary-table" border='1'>
				<th colspan="4">
					<%= schedule.date.strftime("%B %d, %Y") %>
					<%= link_to schedule, method: :delete, data: { confirm: "Are you sure you want to delete this day?" } do %><span class="glyphicon glyphicon-trash"></span><% end %>
					<%= link_to edit_schedule_path(schedule) do %><span class="glyphicon glyphicon-pencil"></span><% end %>
					<%= link_to new_schedule_plan_path(schedule, @plan) do %><span class="glyphicon glyphicon-plus"></span><% end %>

				</th>
				<tr>
					<td class="subheader">Time</td>
					<td class="subheader">Activity</td>
					<td class="subheader">Delete</td>
				</tr>
				<% schedule.plans.each do |plan| %>
					<tr>
						<td><%= plan.activity_time.try(:strftime, "%l:%M%P") %></td>
						<td><%= plan.activity %></td>
						<td><%= link_to plan, method: :delete do %><span class='glyphicon glyphicon-remove'></span><% end %>
					</tr>
				<% end %>
			</table>
		</div>
		<% end %>
	<br><br>
	<%= link_to 'New Date', new_group_schedule_path(@group, @schedule), class: "date_submit" %>
</div>