<h1>All Polls</h1>
<% @group.polls.each do |poll| %>
	<%= poll.topic %>
	<ul>
		<li><%= poll.option1 %></li>
		<li><%= poll.option2 %></li>
		<li><%= poll.option3 %></li>
		<li><%= poll.option4 %></li>
		<li><%= poll.option5 %></li>
	</ul>
<% end %>