<div class="container poll-body">
<h1>Polls</h1>

<div class='table-div'>
	<% @group.polls.each do |poll| %>
	<table class="table table-bordered table-condensed table-hover table-responsive">
		<th colspan="3" class='table-header'><%= poll.topic %></th>
		<tr>
			<td class='subheader'>Option</td>
			<td class='subheader'>Votes</td>
			<td class='subheader'>Upvote</td>
		</tr>
		<% poll.poll_options.each do |po| %>
		<tr>
			<td><%= po.option %></td>
			<td><%= po.get_likes.size %></td>
			<td><%= link_to like_poll_option_path(po), method: :put do%><span class="glyphicon glyphicon-chevron-up"></span><% end %></td>
		</tr>
		<% end %>
	</table>
	<div class="poll-options">
		<div class="new-poll-option">
			<span class="glyphicon glyphicon-star"></span>
			<%= link_to "New Option", new_poll_poll_option_path(poll) %>
		</div>
		<div class="delete-poll">
			<span class="glyphicon glyphicon-star"></span>
			<%= link_to "Delete this Poll", poll, method: :delete %>
		</div>
	</div>
	<br><br>
<% end %>
</div>
<div class='new-poll'>
	<%= link_to "New Poll", new_group_poll_path(@group, @poll) %>
</div>
</div>