<h1>All Polls for this group</h1>

<div>
	<% @group.polls.each do |poll| %>
	<table border="1">
		<th><%= poll.topic %></th>
		<% poll.poll_options.each do |po| %>
			<tr>
				<td>
					<%= po.option %>
					<%= po.get_likes.size %>
					<%= link_to "Upvote", like_poll_option_path(po), method: :put %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= link_to "Delete this poll", poll, method: :delete %>
<% end %>
</div>