<div class="links_index_container">
	<div class="links_index_header">
		<h1>Ideas</h1>
	</div>
	<p>Bookmarklet<p>
	<p>Drag the following link to your bookmarks bar in order to save websites to this page</p>
	<a href="javascript:(function(){var newURI='localhost:3000/groups/<%= @group.id %>/links/new?link[url]='+encodeURIComponent(decodeURIComponent(window.location.href))+'&link[title]='+encodeURIComponent(document.title.replace('%20',' ')); window.location.href=newURI;})();"><%= @group.name %></a>
	<% if @group.links %>
		<% @group.links.each do |l| %>
			<h3><%= l.title %></h3>
			<a><%= link_to nil, l.url %></a>
			<p><%= link_to 'Edit', edit_group_link_path(@group, l), class: "link_edit_button" %>
			<%= link_to 'Delete', group_link_path(@group, l), method: :delete, class: "link_delete_button" %></p>
		<% end %>
	<% end %>

	
</div>