<div class= "well well-sm">

<%= form_for @tag, :url => group_tag_path(@group) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:
      </h2>

      <ul class="list-group">
      <% @tag.errors.full_messages.each do |msg| %>
       <li class="list-group-item list-group-item-danger">
          <%= msg %>
       </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.text_field :name, placeholder:"#", class: "form-control" %>
    </div>
   <%= f.submit class: "btn" %>
  </div>

<% end %>

</div>