<h1>Listing tags</h1>


<p id="notice"><%= notice %> </p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', group_tag_path(@group, tag) %></td>
        <td><%= link_to 'Edit', edit_group_tag_path(@group,tag) %></td>
        <td><%= link_to 'Destroy', group_tag_path(@group, tag), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_group_tag_path(@group) %>
