
<h1 id="tags_header">
  <strong>#</strong><%= @tag.name %>
  <%= link_to 'Edit', edit_group_tag_path(@group, @tag), class: "btn btn-info" %>  
</h1>
 
  <!-- <div class="scrollbar">
      <div class="handle"></div>
  </div> -->

  <!-- slideshow -->
  <% if @photos.count != 0 %>
    <div class='viewer'><%= image_tag @photos.first.images.standard_resolution.url %>
    </div>
      <div class='container clearfix'>
         <div class='col-sm-2'></div>
            <div class='col-sm-8'>
              <div class='static-viewer col-sm-12 clearfix'>
                  <%= image_tag @photos.first.images.standard_resolution.url %>

                     <div class='caption'><a class='left' href="http://instagram.com/<%= @photos.first.user.username %>" target="_blank"><%= @photos.first.user.username %> </a>
                       <div class='time pull-right'><%= distance_of_time_in_words(Time.now, Time.at(@photos.first.created_time.to_i),include_seconds: true) %></div>
                    </div>
                </div>
               <div class='col-sm-12'>
                <% @photos.each do |photo|%>
                  <div class='thumbs col-sm-3'><%= image_tag photo.images.standard_resolution.url %>
                    <div class='caption'> <%= distance_of_time_in_words(Time.now, Time.at(photo.created_time.to_i),include_seconds: true) %></div>
                  </div>
                <% end %>
               </div>
              </div>

    <div class='col-sm-2'></div>
     </div>
  <% else %>
    <p>You haven't added any photos to Instagram</p>
  <% end %>

 <!-- <%# image_tag photo.user.profile_picture, id: "avatar" %>
          <cite><a href="http://instagram.com/<%# photo.user.username %>" target="_blank"><%# photo.user.username %></a></cite> -->
        <%# distance_of_time_in_words(Time.now, Time.at(photo.created_time.to_i),include_seconds: true) %> 


<!-- This displays instagram pictures on the home page in standard resolution -->
<%# @instagram.each do |instagram| %>
	<%#= image_tag instagram.images.standard_resolution.url %>
<%# end %>



