<!DOCTYPE html>
<html>
<head>
  <title>Plandora</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'http://www.tenaadam.com/wp-content/themes/portal/images/favicon.ico' %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">Plandora</a>
		</div>
    	<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav navbar-right">
	    		<div id="user-widget">
		         <% if current_user %>
			        <li>
			        	 Welcome <strong><%= current_user.name %></strong>!
			      		 <%= link_to "Sign out", signout_path, id: "sign_out" %>
			        </li>
		         <% else %>
		        	<li>
		        		<%= link_to "Facebook Login", "/auth/facebook", id: "sign_in" %>
		   			</li>
		   		 <% end %>
				</div>
         	</ul>
    	</div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>


<%= yield %>


<footer>
Copyright 2014 | Plandora | <span class="contact" data-toggle="modal" data-target=".bs-example-modal-lrg">Contact</span> | All rights reserved.
</footer>


<div class="modal fade bs-example-modal-lrg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  	<div class="modal-dialog modal-lrg">
	    <div class="modal-content">
		    <div class="contactgroup">
				<div class="kelsey col-lrg-4"> 
					<strong>Kelsey Ledford</strong> <br />

					Email: kelsey.d.ledford@gmail.com <br />

					<span class="github">
						<a href="https://github.com/kelseyledford" target="_blank">Github</a>
					</span> <br />

					<span class="linkedin">
						<a href="https://www.linkedin.com/pub/kelsey-ledford/49/798/923" target="_blank">LinkedIn</a>
					</span>
				</div>
				<div class="dean col-lrg-4">
					<strong>Dean Mandile</strong> <br />
					Email: mandile24@gmail.com <br />
					
					<span class="github">
						<a href="https://github.com/Deanskee" target="_blank">Github</a>
					</span> <br />
					 <span class="linkedin">
					 	<a href="https://www.linkedin.com/pub/dean-mandile/53/ba7/433" target="_blank">LinkedIn</a>
					 </span>
				</div>
				<div class="charly col-lrg-4"> 
					<strong>Charly Yoon</strong> <br />
					Email: cyoon90@yahoo.com <br />
					
					<span class="github">
						<a href="https://github.com/charlyy" target="_blank">Github</a>
					</span> <br />
					<span class="linkedin">
						<a href="https://www.linkedin.com/pub/charly-yoon/58/a9a/631" target="_blank">LinkedIn</a>
					</span>
				</div>
			 </div>
	    </div>
    </div>
</div>

</body>
</html>
