<!DOCTYPE html>
<html>
<head>
  <title>Plandora</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="user-widget">
	  <% if current_user %>
	    Welcome <strong><%= current_user.name %></strong>!
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
	    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>

	<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav clearfix">
            <li>
              <%= form_tag tags_path, :method => "get", :class => "navbar-form" do %>
                <div class="form-group">
                  <%=text_field_tag :tag, params[:tag], :placeholder => "Search for a #hashtag or @username", :class => "form-control nav_text" %>
                </div>
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  <span class="glyphicon glyphicon-search"></span> 
                <% end %>
                <%#= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
              <% end %>
            </li>
          </ul>
  </div>
	<%= yield %>

</body>
</html>
